* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    background: #f8f8f8;
    color: #333;
}

/* Navbar */
nav {
    display: flex;
    justify-content: space-between;
    padding: 20px;
    background: #000;
    color: #fff;
}

nav ul {
    display: flex;
    gap: 20px;
    list-style: none;
}

nav ul li a {
    text-decoration: none;
    color: white;
    font-weight: bold;
}

.hero {
    height: 80vh;
    background: linear-gradient(to right, #4a90e2, #56ccf2);
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 40px;
}

.hero h1 {
    font-size: 50px;
}

.btn {
    margin-top: 20px;
    padding: 12px 25px;
    background: #fff;
    color: #000;
    border-radius: 5px;
    cursor: pointer;
    border: none;
}

.about, .gallery-section, .contact {
    padding: 50px;
    text-align: center;
}

.gallery {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 15px;
    margin-top: 20px;
}

.gallery img {
    width: 250px;
    height: 180px;
    object-fit: cover;
    border-radius: 8px;
    border: 2px solid #ccc;
}

footer {
    background: #000;
    color: white;
    text-align: center;
    padding: 20px;
    margin-top: 40px;
}
